<p-card>
  <div class="flex justify-between items-center">
    <app-heading title="Partes cadastradas ({{ stakeholders.length }})" customTitleClass="text-xl"
      customClass="p-4 bg-white rounded-t-lg" customSubtitleClass="text-sm"
      subtitle="Clique em uma linha para ver detalhes da parte"></app-heading>

    <a routerLink="/stakeholders/new">
      <p-button icon="pi pi-plus" label="Nova parte" severity="secondary" />
    </a>
  </div>
  <p-table [value]="stakeholders" stripedRows metaKeySelection="true" dataKey="id">
    <ng-template #header>
      <tr>
        <th class="text-left">Nome</th>
        <th class="text-left">Tipo</th>
        <th class="text-left">CPF/CNPJ</th>
        <th class="text-center">E-mail</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template #body let-stakeholder>
      <tr [pSelectableRow]="stakeholder">
        <td>{{ stakeholder.name }}</td>
        <td>{{ stakeholder.type }}</td>
        <td>{{ stakeholder.cpfCnpj }}</td>
        <td>{{ stakeholder.email }}</td>
        <td>
          <p-button icon="pi pi-trash" severity="danger" (onClick)="onDelete(stakeholder.id)" />
        </td>
      </tr>
    </ng-template>
    <ng-template #emptymessage let-stakeholder>
      <tr>
        <td class="text-center!" colspan="5">Nenhuma registro cadastrado.</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
